<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form action="/message" method="POST" id="line_message">
			<input type="text" name="message" id="message">
			<input type="submit" value="送信" id="btn">
		</form>
		<script src="/javascripts/message.js"></script>
	</body>
</html>